@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* Load fonts */
@font-face {
    font-family: "Lobster";
    src:
        url("./assets/fonts/Lobster-Regular.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Kanit";
    src:
        url("./assets/fonts/Kanit-Regular.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "WorkSans";
    src:
        url("./assets/fonts/WorkSans-Regular.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "BebasNeue";
    src:
        url("./assets/fonts/BebasNeue-Regular.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
}

/* Tailwind v4 theme tokens */
@theme {
    --font-Lobster: "Lobster", cursive;
    --font-Kanit: "Kanit", sans-serif;
    --font-WorkSans: "WorkSans", sans-serif;
    --font-BebasNeue: "BebasNeue", sans-serif;
}

@keyframes gradient-move {
    0% {
        background-position: 200% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.animate-gradient-move {
    background-size: 200% 100%;
    animation: gradient-move 2s linear infinite;
}



@import "tailwindcss";

/* Chrome, Edge, Safari */
/* ===== Chrome, Edge, Safari ===== */
::-webkit-scrollbar {
    width: 8px;
    /* Scrollbar width */
}

::-webkit-scrollbar-track {
    background: #000000;
    /* Track color */
}

::-webkit-scrollbar-thumb {
    background: #ff0000;
    /* Thumb color */
    border-radius: 9999px;
    /* Rounded edges */
}

::-webkit-scrollbar-thumb:hover {
    background: #cc0000;
    /* Darker red on hover */
}

/* ===== Firefox ===== */
* {
    scrollbar-width: thin;
    /* Thin scrollbar */
    scrollbar-color: #ff0000 #000000;
    /* thumb color | track color */
}


::selection {
    background-color: #fb2c36;
    /* amber-400 */
    color: white;
    /* slate-800 */
}